<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.TestMapper">
    <select id="selectAllUser" resultType="User">
        select * from user
    </select>

    <select id="selectUserById" resultMap="test" >
        select * from user left join user_detail on user.id = user_detail.id where user.id = #{id}
    </select>
    <resultMap id="test" type="User">
        <id property="id" column="id"/>
        <result property="name" column="name"   />
        <result property="age"  column="age"    />
        <association property="detail" >
            <id property="id"   column="id"/>
            <result property="description" column="description"/>
            <result property="register" column="register"/>
            <result property="avatar"   column="avatar"/>
        </association>
    </resultMap>

    <select id="selectUserByIdAndAge" resultType="User">
        select * from user where id=#{id} and age=#{age}
    </select>


    <select id="selectUserByAge" resultType="User">
        select * from user where age>=#{age}
    </select>
</mapper>